.RegisterLogin-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('./images/wp3592340.jpg');
    background-size: cover;
}

.LoginRegisterForm{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.3);
    backdrop-filter: blur(3px);
    padding: 16px 16px 16px 16px;
    border-radius: 50px;

}

.title{
    text-align: center;
}